includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    # Level 5 is a good balance for finding real bugs without too much pedantry
    level: 5

    ignoreErrors:
        - '#Unsafe usage of new static#'
